@import "styles/utils";

.memopage-container {
  margin: 2rem auto;
  padding: 2rem 2rem;
  max-width: 1024px;
  min-height: 350px;
  border-radius: 4px;
  background: $memoColor;
  color: white;

  .memopage-title {
    font-size: 1.5rem;
  }

  .memopage-content {
    margin-top: 1.5rem;
  }
}