@import 'styles/utils';

.memo-container {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  grid-auto-rows: 100px;
  flex-wrap: wrap;

  background-color: $memoColor;
  width: 15rem;
  height: 17rem;
  padding: 1.5rem;

  transition: all .15s ease-in;
  box-shadow: $boxShadow;
  margin-top: 3rem;
  
  &:hover {
    background: rgba(0, 0, 0, 0.19);
    transition: all .20s ease-in;
    transform: scale(1.1, 1.1);
  }

  .memo-title {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
    color: white;
    a {
      transition: all .15s ease-in;
      border-bottom: 1px solid transparent;
    }
  }
  .memo-content {
    font-weight: 300;
    color: white;
    word-break: break-all;
  }
}